.forecast-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

h1 {
  color: var(--mainColor)
}

.day-card {
  color: var(--accentColor);
  background-color: var(--secondaryColor);
  border: 2px solid var(--mainColor);
  font-family: var(--coreFont);
  padding: 5px;
  margin: 5px;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.5), 0 8px 20px 0 rgba(0, 0, 0, 0.48);
  border-radius: 5px;
  flex-basis: 200px;
  flex-grow: 1;
}

.day-card p {
  display: flex;
  justify-content: center;
  align-content: center;
}

.day-card h1 {
  color: white;
}

.forecast-outer {
  width: 85vw!important;
  padding: 5px;
  margin: auto;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.5), 0 8px 20px 0 rgba(0, 0, 0, 0.48);
  border-radius: 5px;
}

.bkg-transparent {
  background-color: rgba(0, 0, 0, 0.2);
  padding: 25px 0;
}

@media (max-width: 1250px) {
  .forecast-container {
    flex-direction: column;
  }

  .day-card {
    width: 75vw;
  }
}
