.navbar a{  
    color: var(--mainColor);
    font-weight: bolder;
    padding: 20px;
    font-size: larger;
}

.search {
    width: 40vw;
}

.dropdown-menu{
  display: block!important;
}

.hide{
  display: hide;
}