.jumbotron {
  padding: 20px;
  font-size: large;
  color: var(--mainColor);
  font-weight: bolder;
}

.image {
  background-image: url(./images/jumbotron.PNG);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  border-radius: 10px;
}

.cta {
  padding: 10px;
}