.jumbotron {
  padding: 20px;
  font-size: large;
  box-shadow: 0 14px 28px var(--mainColor), 0 10px 10px var(--mainColor);
  

  color: var(--mainColor);
  font-weight: bolder;
  height: 350px;
}

.image {
  background-image: url(./images/jumbotron.PNG);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
}

.cta {
  padding: 10px;
}
