.current-location {
  color: var(--mainColor);
  background-color: var(--secondaryColor);

  font-family: var(--coreFont);
  border-radius: 2px;
  padding: 10px;
  margin: 10px;

  font-size: 25px;
}

.bold {
  font-weight: bolder;
}

.icon {
  color: var(--vgoodColor);
  margin: 5px;
}

.latlong {
  font-size: 16px;
}
